@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --color-main-bg: #141414;
    --color-secondary-bg: #101010;
    --color-main-shadow: #616161;
    --color-main-purple: #8a2be2;
    --color-main-blue: #43bffd;
    --font-mozilla: "Mozilla Text", sans-serif;
}